{% extends "base.html" %}

{% block content %}
<h1>Ввод данных для добавления работника</h1>
<form action="" method="post">
{{ form.hidden_tag() }}
    <div class="container">
        <p>
            {{ form.name.label }}<br>
            {{ form.name(class="form-control") }}<br>

            {% for error in form.name.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(class="form-control") }}<br>
            {% for error in form.surname.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.fathername.label }}<br>
            {{ form.fathername(class="form-control") }}<br>
            {% for error in form.fathername.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.gender.label }}<br>
            {{ form.gender(class="form-control") }}<br>
            {% for error in form.gender.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.telethon.label }}<br>
            {{ form.telethon(class="form-control") }}<br>
            {% for error in form.telethon.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.birthday.label }}<br>
            {{ form.birthday(class="form-control") }}<br>
            {% for error in form.birthday.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
         <p>
            {{ form.hire_date.label }}<br>
            {{ form.hire_date(class="form-control") }}<br>
            {% for error in form.hire_date.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.salary.label }}<br>
            {{ form.salary(class="form-control") }}<br>
            {% for error in form.salary.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>
            {{ form.id_drugstore.label }}<br>
            {{ form.id_drugstore() }}<br>
            {% for error in form.id_drugstore.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        {{ message }}
    </div>
</form>
{% endblock %}