<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title> Приложение для рассчёта пассажиропотока </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
          crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous"></script>
</head>
<body>

    <div class="title">
        <h1>Приложение для рассчёта пассажирооборота</h1>
    </div>
	<h3 align="center">Инструкция</h3>
<div align="center">
	<table id="instruction">
       	    <tr id="row">
	        <td>Ввод данных и начало рассчёта - кнопка Запуск </td> </tr>
       	    <tr id="row">
	        <td>Просмтотр всех результатов - кнопка Страница пользователя</td> </tr>
	</table>
</div>
<div align="center">
    <p><a class="btn" href="/start">Запуск</a></p>
	<p><a class="btn" href="/{{ user_id }}">Страница пользователя</a></p>
    <p><a class="btn" href="/logout">Выход</a></p>

</div>
</body>
</html>
